/* All pages */
body {
    display: flex;
    justify-content: center;
    font-family: 'Cambria';
    background-color: #ADC8D9;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    flex-direction: column;
    height: 5600px;
    overflow-y: auto;
    margin-top: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 20px;
    margin-right: 20px;
}

.grid-container{
    width: 90%;
}

/*buttons */
button#create{
    font-family: inherit;
    font-size: 15px;
    width: 110px;
    padding: 10px 10px;
    text-align: center;
    color: #025E73;
    background-color:  #DCEAF2;
    border-radius: 10px;
    border-width: 5px;
    border-color: #025E73;
}

button#create:hover{
    color: #DCEAF2;
    background-color: #025E73;
    border-color: #025E73;
}

button{
    cursor: pointer;
}

button#scrollToTop {
    cursor: pointer;
    border:none;
    background-color:transparent;
}

.scroll-button {
    position: fixed;
    bottom: 2%;
    right: 2%;
    padding: 10px 20px;
}

input[type=button]{
    font-family: inherit;
    font-size: 15px;
    width: 110px;
    padding: 10px 10px;
    text-align: center;
    color: #025E73;
    background-color:  #DCEAF2;
    border-radius: 10px;
    border-color: #025E73;
}

input[type=button]:hover{
    color: #DCEAF2;
    background-color: #025E73;
    border-color: #025E73;
}

input#button:hover{
    width: 100px;
    padding: 10px 10px;
    text-align:center;
    color: #DCEAF2;
    background-color: #025E73;
    border-color: #025E73;
    border-radius: 10px;
}
/*button end */

.container {
    display: flex;
    flex-direction: column;
}

nav a {
    color: #025E73;
}

nav a.active {
    font-weight: bold;
    text-decoration: dotted;
}

nav a:hover, nav a:focus {
    background-color: #ADC8D9;
    color: #0388A6;
    font-weight: bold;
}

nav.scrolled {
    background-color: #ADC8D9;
    transition: 0.5s;
}

header {
    position: sticky;
    top: 0;
    transition: height 0.2s ease-in-out;
    align-items: center;
    height: 200px;
}

header.scrolled {
    background-color: #ADC8D9;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 100px; /* new height when scrolled */
}

#logo {
    width: 175px; /* size when not scrolled */
    height: auto; /* to maintain aspect ratio */
    transition: 0.5s;
}

#logo.scrolled {
    width: 75px;
    height: auto;
}

/* All pages end */

/*Blog posts */
.blog-post {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #DCEAF2;
    padding: 20px;
    margin-bottom: 20px;
}
.post-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}
.post-date {
    font-style: italic;
    color: #666;
    margin-bottom: 10px;
}
.post-content {
    line-height: 1.6;
}

h1, h5 {
    color: #0388A6;
}

h2, h4 {
    color: #025E73;
    font-size: 200%;
}

h3 {
    color: #639CBF;
    font-size: 100%;
}

p {
    line-height: 25px;
    color: black;
}


/* about start */
ul.contri{
    list-style-type:disc;
}

li::marker{
    color:#025E73;
}

table, th,td{
    text-align: center;
    border-collapse: collapse;
}

th{
    border-bottom: #025E73 2px solid;
    padding:5px;
}

td{
    border-bottom:#025E73 1px solid;
}
/* About end */

/* forms start */
.container2 {
    border-radius: 5px;
    background-color: #DCEAF2;
    padding: 20px;
  }

* {
    box-sizing: border-box;
  }
  
  input {
    width:200px;
    padding: 5px;
    border: 5px solid #025E73;
    border-radius: 10px;
    font-family: inherit;
  }
  
  label {
    padding: 5px 5px 5px 5px;
    display: inline-block;
  }
    
  .container {
    border-radius: 5px;
    background-color: #DCEAF2;
    padding: 20px;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns, this is an important piece!*/
  .row::after {
    content: "";
    display: table;
    clear: both;
  }


.col-50L{
    float: left;
    width: 50%;
    margin-top: 10px;
}

.col-50R{
    float: right;
    width: 50%;
    margin-top: 10px;
}
/* form end */

/* create start */
.textarea {
    border: 1px solid #025E73;
    font-family: inherit;
    font-size: inherit;
    padding: 1px 6px;
    display: block;
    width: 100%;
    overflow: hidden;
    resize: both;
    min-height: 40px;
    line-height: 20px;
  }

  .textarea[contenteditable]:empty::before {
    content: attr(placeholder);
    color: gray;
  }
/* create end */
